# Copyright 2021 OpenHW Group
# Solderpad Hardware License, Version 2.1, see LICENSE.md for details.
# SPDX-License-Identifier: Apache-2.0 WITH SHL-2.1
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.hjson]
indent_size = 2
# SystemVerilog wants 2 spaces of indentation
[*.{sv,svh,sv.tpl,v}]
indent_size = 2

[*.core]
indent_size = 2

# Use tabs for Makefiles.
[Makefile]
indent_style = tab
