__pycache__/
.cached_ipdb.json
*.bak
*~
*.swp
*.log
*.jou
*.so
install/
build/
./ips
gmon.out
modelsim.ini
lint.log
sw/inc/
sw/csv-mirror/
emulation/core-v-mcu-nexys/constraints/core-v-mcu-pin-assignment.xdc
emulation/core-v-mcu-nexys/rtl/*.v
vivado*
xmverilog.*
