__pycache__/
.cached_ipdb.json
*.bak
*~
*.bit
install/
build/
buildsim.log
sim.log
rtl/tb/run-sim.log
./ips
gmon.out
modelsim.ini
vivado.log
lint.log
nexys-emul.log
sw/inc/
sw/csv-mirror/
emulation/core-v-mcu-nexys/constraints/core-v-mcu-pin-assignment.xdc
emulation/core-v-mcu-nexys/rtl/
