# Copyright 2021 OpenHW Group
# Solderpad Hardware License, Version 2.1, see LICENSE.md for details.
# SPDX-License-Identifier: Apache-2.0 WITH SHL-2.1

recommonmark
sphinx>=4.3.0
sphinx_markdown_tables
sphinx_rtd_theme>=0.5.1
